/* Configuração Geral da Página */
body{
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #FFFAFA;
}

/* Configuração de Texto */
p {
  line-height: 2rem;
  text-align: justify;
  font-size: 1.2em;
}

h2{
  text-align: center;
}

/* Configura de Icones */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.material-icons{
    color: white;
}

/* Configuração de Entrada da Página */
header{
  background-image: url('../img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: 220vh;
}

.entradaSobre{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Configuração Texto sendo Escrito */
.titulo-principal{
  max-width: 480px;
}

.titulo-principal:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}

/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/* Configuração Section Sobre */
.sobre{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6em;
  margin-top: 6em;
  display: flex;
}

/* Configuração Section Portfólio */
.portfolio{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6em;
}

/* Configuração Section Contato */
.contato {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6em;
}

 .contato form{
   text-align: right;
}

/* Configuração Menu Flutuante */
.btn-floating{
  background-color: #F08080;
}

.btn-floating:hover{
  background-color: #CD5C5C;
  text-decoration: none;
  text-shadow: 0px 0px 10px whitesmoke;
}

label{
  color: black;
}

/* Configuração Footer */
footer.page-footer {
  margin: 0;
  background-color: #CD5C5C;
  text-align: center;
}

footer h5{
  text-align: justify;
}

/* Configuração Icones Social Media */
footer a{
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.5s;
}

footer a:active,
footer a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px whitesmoke;
}
